*
{
    box-sizing: border-box;
}

.container-fluid
{
    background-color: rgb(12, 12, 41);
}

.cover
{
    background-color: rgb(12, 12, 41);
    height: 100vh;
    width: auto;
}

.leftcol
{
    border-right:solid white 2px;
    color: antiquewhite;
    height: 100vh;
}

#title
{
    border-bottom:solid white 2px;
    color: aquamarine;
}

h3
{
    color: aquamarine;
    padding-top: 5px;
}

.rightcol
{
    border-left:solid white 2px;
    color: antiquewhite;
}

#scorebox
{
    border-bottom:solid white 2px;
}

#bonus
{
    margin: 15px;
}

#log
{
    padding: 3px;
    padding-top: 10px;
}

#main
{
    background-image: url(/assets/images/PhotoFunia-1569319560.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}